{% extends 'base.html' %}
{% block title %}post-index- {{block.super}} {% endblock %}


{% block body %}
    
    <div class="container">
   
        {% for customer in customers %}

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="thumbnail">                
                <div class="caption">
                   
                  <h3>{{customer.name}} </h3>
                  <h4>{{customer.address |safe| linebreaks |truncatechars:150}} </h4>
                  <h4>{{customer.phone}}</h4>                  
                  <p>
                        <a href="{{customer.get_absolute_url}}" class="btn btn-primary" role="button">İncele</a>
                        {% if user.is_superuser %}
                            <a href="{{customer.get_update_url}}" class="btn btn-default" role="button">Güncelle</a>                            
                            <a href="{{customer.get_delete_url}}" class="btn btn-danger" role="button">Sil</a>                           
                        {% endif %}
                  </p>                     
                </div>
              </div>
            </div>
        </div>  

        {% endfor %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?sayfa={{ posts.previous_page_number }} {% if request.GET.q %}&q={{ request.GET.q }} {% endif %}">Önceki</a>
                {% endif %}
        
                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>
        
                {% if posts.has_next %}
                    <a href="?sayfa={{ posts.next_page_number }} {% if request.GET.q %}&q={{ request.GET.q }} {% endif %}">Sonraki</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
    
{% endblock %}