<!-- Navbar Start -->
<nav class="navbar navbar-default navbar-fixed-top"  role="banner">
    <div class="container">

        <div class="navbar-header">

            <!-- Telefon ekranları için menü butonu -->
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- İsim Soyisim veya Marka İsmi -->
            <a href="{% url 'accounts:home' %}" class="navbar-brand">Norpa</a>
        </div>

        <nav class="collapse navbar-collapse" role="navigation">

            <!-- Arama Çubuğu -->
            <form class="navbar-form navbar-left" role="search" method="GET" action="">
                <div class="input-group">
                    <input class="form-control" type="text" name="q" placeholder="Search on blog" value="{{ request.GET.q}}" >
                    <span class="input-group-btn">
                        <input class="btn btn-default" type="submit" value="Ara">
                    </span>
                </div>
            </form>

            <!-- Temel Sayfalar -->
            <ul class="nav navbar-nav navbar-right">
                
                
                {% if user.is_authenticated %}

                    {% if user.is_superuser %}
                        <li><a href="{% url 'postt:create' %}">Post Oluştur</a></li>
                        <li><a href="{% url 'postt:kapali' %}">Kapalı Postlar</a></li>
                    {% endif %}

                    <li><a href="{% url 'postt:index' %}">Açık Postlar</a></li>
                    <li><a href="{% url 'accounts:logout' %}">Çıkış</a></li>

                {% else %}  
                <li><a href="{% url 'accounts:home' %}">Anasayfa</a></li>
                <li><a href="{% url 'accounts:register' %}">Üye Ol</a></li>
                <li><a href="{% url 'accounts:login' %}">Giriş</a></li>  
                

                {% endif %}
                

            </ul>

        </nav>

    </div>
</nav>