{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
    
  <!--  <div class="container-fluid" >
       <div class="row">
           <div class="col-lg-2 col-md-8 col-sm-4 col-xs-6" style="background-color: red;">1.sütün</div>
           <div class="col-lg-10 col-md-4 col-sm-8 col-xs-6" style="background-color: green;">2.sütün</div>
       </div>

    </div>
    -->
    <!-- <div class="container-fluid" >
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: red; height: 100px;">1.sütün</div>
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: green; height: 100px">2.sütün</div>
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: rgb(128, 60, 0); height: 100px">3.sütün</div>
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: rgb(36, 0, 128); height: 100px">4.sütün</div>
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: rgb(25, 35, 3); height: 100px">3.sütün</div>
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: rgb(96, 128, 0); height: 100px">4.sütün</div>
        </div>

        <div class="row" style="margin-bottom: 30px;">
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: red; height: 100px;">1.sütün</div>
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: green; height: 100px">2.sütün</div>
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: rgb(128, 60, 0); height: 100px">3.sütün</div>
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: rgb(36, 0, 128); height: 100px">4.sütün</div>
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: rgb(25, 35, 3); height: 100px">3.sütün</div>
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: rgb(96, 128, 0); height: 100px">4.sütün</div>
        </div>

        <div class="row" style="margin-bottom: 30px;">
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: red; height: 100px;">1.sütün</div>
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: green; height: 100px">2.sütün</div>
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: rgb(128, 60, 0); height: 100px">3.sütün</div>
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: rgb(36, 0, 128); height: 100px">4.sütün</div>
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: rgb(25, 35, 3); height: 100px">3.sütün</div>
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: rgb(96, 128, 0); height: 100px">4.sütün</div>
        </div>

        <div class="row" style="margin-bottom: 30px;">
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: red; height: 100px;">1.sütün</div>
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: green; height: 100px">2.sütün</div>
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: rgb(128, 60, 0); height: 100px">3.sütün</div>
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: rgb(36, 0, 128); height: 100px">4.sütün</div>
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: rgb(25, 35, 3); height: 100px">3.sütün</div>
            <div class="col-lg-2 col-md-4 col-sm-6" style="background-color: rgb(96, 128, 0); height: 100px">4.sütün</div>
        </div>



    </div> -->

    <div class="container-fluid">
        <div class ="row">
            <div class="col-md-4" style="background-color: red; height: 100px;"></div>
            <div class="col-md-8" style="background-color: rgb(0, 157, 255); height: 100px;">
                <div class="row">
                    <div class ="col-md-6" style="background-color: blue; height: 100px;"></div>
                    <div class ="col-md-3" style="background-color: rgb(96, 15, 79); height: 100px;"></div>
                    <div class ="col-md-3" style="background-color: rgb(255, 0, 162); height: 100px;"></div>
                </div>
            </div>
                
                
        </div>
    </div>

{% endblock %}