{% extends 'base.html' %}
{% block title %}post-detay- {{block.super}} {% endblock %}


{% block body %}   
<div class="container">
<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="thumbnail">                
        <div class="caption">
            {% if post.image %}
                <img src="{{post.image.url}}" class="img-responsive">
            {% endif %}
            
          <h3>{{ post.title }} <small> {{post.publishing_date | timesince}} önce</small></h3>
          <h4>Kullanıcı: {{post.user.get_full_name}}</h4>
          <p>{{post.content |safe| linebreaks}}</p>
          <p>
                <a href="{{post.get_absolute_url}}" class="btn btn-primary" role="button">İncele</a>
                {% if user.is_authenticated %}
                <a href="{{post.get_update_url}}" class="btn btn-default" role="button">Güncelle</a>
                <a href="{{post.get_delete_url}}" class="btn btn-danger" role="button">Sil</a>
                {% endif %}
          </p>                     
        </div>
      </div>
      <br><br>
      
        {% for comment in comments%}
            <h4>{{comment.name}} | <small>{{comment.publishing_date | timesince}} önce </small></h4>
            <p>{{comment.content | linebreaks}}</p>
            <br>
        {% endfor%}
      <br><hr>
      <h3>Yorum Ekle</h3>
      {% include 'post/comment.html' %}
      <hr>
     
    </div>
</div>  
</div>

{% endblock %}
